<!DOCTYPE html>
<html lang="es">
<%- include('partials/headAdmin')  %>

    <body class="bg-white ">
        <%- include('partials/headerAdmin') %>

            <section class="container bg-light pb-5">
                <article class="box-center">

                    <div class=" text-center mb-5">
                        <hr class="mx-auto m-12" size="5" noshade="noshade" width="100%" />
                        <h4>Editar pelicula</h4>
                        <hr class="mx-auto m-12 " size="5 " noshade="noshade " width="100% " />
                    </div>






                    <form action="/movies/<%= movie.id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="container mb-5">
                        <div class=" bg-white mb-5 border border-1 pt-5">
                            <img src="/images/movies/<%= movie.image %>" class=" img-logo-person img-fluid m-3 rounded mx-auto d-block " alt="logo " width="425px">
                            <div class="row mx-auto mb-5 ">
                                <div class=" mx-auto col-sm-10 col-md-9 col-lg-8 col-xl-6  ">
                                    <input class="form-control mb-3 " type="text" placeholder="Nombre" name="title" value="<%= movie.title %>">
                                </div>
                                <div class=" mx-auto col-sm-10 col-md-9 col-lg-8 col-xl-6  ">                                    
                                    <select name="genre" class="form-control">
                                        <% genres.forEach(genre => { %>
                                            <option value="<%= genre.id%>" <%- movie.genreId === genre.id ? "selected" : null %> ><%= genre.name%></option>                                         
                                        <% }) %>                                        
                                    </select>
                                </div>
                                <div class=" mx-auto col-sm-10 col-md-9 col-lg-8 col-xl-6  ">
                                    <input class="form-control mb-3 " type="text" placeholder="Precio" name="price" value="<%= movie.price %>">
                                </div>
                                <div class=" mx-auto col-sm-10 col-md-9 col-lg-8 col-xl-6  ">
                                    <select name="category" class="form-control">
                                        <% categories.forEach(category => { %>
                                            <option value="<%= category.id%>" <%- movie.categoryId === category.id ? "selected" : null %> ><%= category.name%></option>                                         
                                        <% }) %>                                        
                                    </select>
                                </div>
                                <div class=" mx-auto col-sm-10 col-md-9 col-lg-8 col-xl-6  ">
                                    <input class="form-control mb-3 " type="text" placeholder="Duracion" name="length" value="<%= movie.length %>">
                                </div>
                                <div class=" mx-auto col-sm-10 col-md-9 col-lg-8 col-xl-6  ">
                                    <input class="form-control mb-3 " type="text" placeholder="Trailer" name="trailerPath" value="<%= movie.trailerPath %>">
                                </div>
                                <div class=" mx-auto col-sm-10 col-md-9 col-lg-8 col-xl-6  ">
                                    <input class="form-control mb-3 " type="text" placeholder="Imagen" name="image" value="<%= movie.image %>">
                                </div>
                                <div class=" mx-auto col-sm-10 col-md-9 col-lg-8 col-xl-6  ">
                                    <input class="form-control mb-3 " type="text" placeholder="Pelicula" name="moviePath" value="<%= movie.moviePath %>">
                                </div>
                                <div class=" mx-auto col-sm-10 col-md-9 col-lg-8 col-xl-6  ">

                                    <div class="custom-input-file col-md-6 col-sm-6 col-xs-6">
                                        <input type="file" id="nomFirs" class="input-file form-control mb-3" type="file" value="" name="img-movie"> Subir foto
                                    </div>
                                </div>
                                <div class=" mx-auto col-sm-10 col-md-9 col-lg-8 col-xl-6  ">
                                    <textarea class="form-control" rows="3" name="description"><%= movie.description %></textarea>
                                </div>
                                <div class=" mx-auto col-sm-10 col-md-9 col-lg-8 col-xl-6  ">
                                    <button class=" col-5 btn btn-primary mt-3" type="submit">Actualizar</button>
                                </div>
                                <div class=" mx-auto col-sm-10 col-md-9 col-lg-8 col-xl-6  ">
                                    <a href="/movies" class=" col-5 btn btn-danger mt-3 mx-auto">volver</a>


                                </div>

                    </form>

                </article>
            </section>


            <%- include('partials/scriptsAdmin')  %>
    </body>

</html>