<!DOCTYPE html>
<html lang="es">
<%- include('partials/headAdmin')  %>

    <body class="bg-white">
        <%- include('partials/headerAdmin')  %>
            <main class="container bg-light pb-5">
                <div class=" text-center ">
                    <hr class="mx-auto m-12" size="5" noshade="noshade" width="100%" />
                    <h2>Vista de todas las peliculas</h2>
                    <hr class="mx-auto m-12" size="5" noshade="noshade" width="100%" />
                </div>

                <div class="row ">
                    <% movies.forEach(movie=> { %>
                        <div class="col-12 col-md-4 col-lg-3 mb-3">
                            <div class="card mx-auto" style="width: 98%">
                                <img src="/images/movies/<%= movie.image %> " class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= movie.title %>
                                    </h5>
                                    <p class="card-text">
                                        $
                                        <%= movie.price %>
                                    </p>


                                </div>
                                <ul class="list-group list-group-flush">
                                    <a href="#" class=" btn btn-outline-success fs-6 mb-2">Ver más</a>
                                    <form action="/movies/<%= movie.id %>/edit">
                                        <button class="col-12 btn btn-sm btn-outline-primary mb-2" type="submit">Editar</button>
                                    </form>
                                    <form action="/movies/<%= movie.id %>?_method=DELETE" method="POST">
                                        <button class=" col-12 btn btn-sm btn-outline-danger mb-2" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                                  </svg></a></button>
                                    </form>
                                </ul>
                            </div>
                        </div>

                        <% }) %>

                </div>


            </main>

            <%- include('partials/scriptsAdmin')  %>


    </body>

</html>