<!DOCTYPE html>
<html lang="es">
<%- include('partials/headAdmin')  %>

<body class="bg-white">
	<%- include('partials/headerAdmin')  %>

	<div class="container bg-light">
		<div class=" text-center ">
			<hr class="mx-auto m-12" size="5" noshade="noshade" width="100%" />
			<h2>Vista de todos los usuarios</h2>
			<hr class="mx-auto m-12" size="5" noshade="noshade" width="100%" />
		</div>

		<div class="row">
			<% users.forEach(user => {%>
				<div class="col-12 col-md-4 col-lg-3">
					<div class="card mx-auto" style="width: 98%; ">                                
						<img src="/images/users/<%= user.avatar %>" class="card-img-top" alt="...">                                

						<div class="card-body">
							<h5 class="card-title">
								Rol: <%= user.role.name %>
							</h5>
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">
								Nombre:
								<%= user.firstName %>
							</li>
							<li class="list-group-item">
								Apellido:
								<%= user.lastName %>
							</li>
						</ul>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">
								email:
								<%= user.email %>
							</li>
						</ul>
						<div class="btn-group mx-auto mt-3" role="group">

							<form action="/admin/users/<%= user.id %>/edit">
								<button class="card-link btn btn-outline-primary" type="submit">Editar</button>
							</form>
							
							<% if (user.id != 1) { %>
								<!-- Button trigger modal -->
								<button type="button" class="card-link btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= user.id %>">
									Eliminar
								</button>
								
								<!-- Modal -->
								<div class="modal fade" id="staticBackdrop<%= user.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
									<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
										<h5 class="modal-title" id="staticBackdropLabel"><%= user.email %></h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<p>¿Desea eliminar este usuario?</p>
										</div>
										<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
										<form action="/admin/users/<%= user.id %>/delete?_method=DELETE" method="POST">
											<button class="btn btn-danger">Confirmar</button>
										</form>
										</div>
									</div>
									</div>
								</div>


								<!-- <form action="/admin/users//delete?_method=DELETE" method="POST">
									<button class="card-link btn btn-outline-danger">Eliminar</button>
								</form> -->                                     
							<% } %>


						</div>
						<div class="card-body">

						</div>
					</div>
					<br>
				</div>

				<% });  %>

		</div>
	</div>

	<%- include('partials/scriptsAdmin')  %>
</body>

</html>