<!DOCTYPE html>
<html lang="es">
	<%- include('partials/head')  %> 
    <body class="fondo-principal">
		<%- include('partials/header')  %> 
		<main>
			<%- include('partials/banner-carousel')  %>
			
			<section class="seccion-peliculas">
				<div>
					<h2>Las más vistas del mes</h2>
				</div>
				<div class="grilla-peliculas">
					<article class="col-3 col-md-6 col-lg-4 contenedor-pelicula">
						<img src="images/films/the-lion-king-vertical.jpeg" alt="">
						<div class="titulo-pelicula">
							<h4>El Rey León</h4>
						</div>
					</article>
					<article class="col-3 col-md-6 col-lg-4 contenedor-pelicula">
						<img src="images/films/the-lion-king-vertical.jpeg" alt="">
						<div class="titulo-pelicula">
							<h4>El Rey León</h4>
						</div>
					</article>
					<article class="col-3 col-md-6 col-lg-4 contenedor-pelicula">
						<img src="images/films/the-lion-king-vertical.jpeg" alt="">
						<div class="titulo-pelicula">
							<h4>El Rey León</h4>
						</div>
					</article>
					<article class="col-3 col-md-6 col-lg-4 contenedor-pelicula">
						<img src="images/films/the-lion-king-vertical.jpeg" alt="">
						<div class="titulo-pelicula">
							<h4>El Rey León</h4>
						</div>
					</article>
				</div>
			</section>
			
			<section class="seccion-peliculas">
				<div>
					<h2>Estrenos</h2>
				</div>
				<div class="grilla-peliculas">
					<article class="col-3 col-xs-6 col-lg-4 contenedor-pelicula">
						<img src="images/films/the-lion-king-vertical.jpeg" alt="">
						<div class="titulo-pelicula">
							<h4>El Rey León</h4>
						</div>
					</article>
					<article class="col-3 col-xs-6 col-lg-4 contenedor-pelicula">
						<img src="images/films/the-lion-king-vertical.jpeg" alt="">
						<div class="titulo-pelicula">
							<h4>El Rey León</h4>
						</div>
					</article>
					<article class="col-3 col-xs-6 col-lg-4 contenedor-pelicula">
						<img src="images/films/the-lion-king-vertical.jpeg" alt="">
						<div class="titulo-pelicula">
							<h4>El Rey León</h4>
						</div>
					</article>
					<article class="col-3 col-xs-6 col-lg-4 contenedor-pelicula">
						<img src="images/films/the-lion-king-vertical.jpeg" alt="">
						<div class="titulo-pelicula">
							<h4>El Rey León</h4>
						</div>
					</article>
				</div>
			</section>

			<section class="seccion-peliculas">
				<div>
					<h2>Promociones</h2>
				</div>
				<div class="grilla-peliculas">
					<article class="col-3 col-md-6 col-lg-4 contenedor-pelicula">
						<img src="images/films/the-lion-king-vertical.jpeg" alt="">
						<div class="titulo-pelicula">
							<h4>El Rey León</h4>
						</div>
					</article>
					<article class="col-3 col-md-6 col-lg-4 contenedor-pelicula">
						<img src="images/films/the-lion-king-vertical.jpeg" alt="">
						<div class="titulo-pelicula">
							<h4>El Rey León</h4>
						</div>
					</article>
					<article class="col-3 col-md-6 col-lg-4 contenedor-pelicula">
						<img src="images/films/the-lion-king-vertical.jpeg" alt="">
						<div class="titulo-pelicula">
							<h4>El Rey León</h4>
						</div>
					</article>
					<article class="col-3 col-md-6 col-lg-4 contenedor-pelicula">
						<img src="images/films/the-lion-king-vertical.jpeg" alt="">
						<div class="titulo-pelicula">
							<h4>El Rey León</h4>
						</div>
					</article>
				</div>
			</section>

		</main>
        
		
		<%- include('partials/scripts')  %> 

		<%- include('partials/footer')  %> 
    </body>
</html>
