<!DOCTYPE html>
<html lang="es">
	<%- include('partials/head')  %>
	<body class="main-background">
		<%- include('partials/header')  %> 
		<main>
			<%- include('partials/banner-carousel')  %>

			<!-- SECCIONES DETALLE -->

			<section class="row container-fluid detalleProducto col-lg-4">
				<div class="imgPro col-8">
					<img src="images/movies/<%= movie.image %>" alt="" width="100%">
				</div>
				<div class="compra col-4">
					<div class="log">								
						<i class="fas fa-shopping-cart fa-3x"></i>
					</div>
					<h2 class="valor">$<%= movie.price %></h2>
					<a href="">
						<h2 class="boton">Alquilar</h2>
					</a>
				</div>
			</section>

			<!-- TRAILER -->

			<section class="row container-fluid trailer col-lg-8">
				<a href=""><iframe width="100%" height="236px" src="https://www.youtube.com/embed/5nOea-_3iKI"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe></a>
			</section>

			<!-- CUERPO -->

			<section class="row container-fluid descripcion">
				<h1 class="titu"><%= movie.title %></h1>
				<div class="sumario">
					<div class="col-12">
						<h2>GENERO<p><%= movie.genre %></p>
						</h2>
					</div>
					
					<div class="col-12">
						<h2>Año de estreno<p><%= movie.year %> </p>
						</h2>
					</div>
					<div class="argumento col-12">
						<p><%= movie.description %></p>
					</div>
				</div>
			</section>

		</main>


		<%- include('partials/scripts') %>

		<%- include('partials/footer') %>
	</body>

</html>