<!DOCTYPE html>
<html lang="es">
	<%- include('partials/head')  %> 
    <body class="main-background">
		<%- include('partials/header')  %> 
		<main>
			<%- include('partials/banner-carousel')  %>

			<div class="container">
				<h1><%= title %> </h1>
					<div class="row">
						<% movies.forEach(movie=> { %>
							<div class="col-12 col-md-4 col-lg-3 my-3 ">
								<div class="card mx-auto" style="width: 98%;">
									<img src="/images/movies/<%= movie.image %> " class="card-img-top" alt="..." />
									<div class="card-body">
										<h5 class="card-title">
											<%= movie.title %>
										</h5>
										<p class="card-text">
											$<%= movie.price %>
										</p>
										<a href="/movies/<%= movie.id %> " class="btn btn-primary">Ver más</a>
									</div>
								</div>
							</div>
	
							<% }) %>
				</div>
			</div>

        </main>

        <%- include('partials/scripts')  %> 

		<%- include('partials/footer')  %> 
    </body>
</html>