<!DOCTYPE html>
<html lang="es">
<%- include('partials/head')  %>

<body class="bg-white">
	<% if (typeof userLogin != 'undefined') { %>
		<%- include('partials/headerUser')  %>
	<% } else { %>
		<%- include('partials/header')  %>
	<% } %>

	<section class="container bg-light pb-5">

		<div class=" text-center ">
			<hr class="mx-auto m-12" size="5" noshade="noshade" width="100%" />
			<h4>Iniciar Sesi칩n</h4>
			<hr class="mx-auto m-12 " size="5 " noshade="noshade " width="90% " />
		</div>

		<form action="/users/login" method="POST" id="formLogin">
			<div class=" bg-white border border-1">
				<div class="card-body border border-1">
					<img src="/images/logo-person.png" class="img-logo-person img-fluid m-3 rounded mx-auto d-block" alt="logo" width="150px">

					<div class=" mx-auto col-10 col-md-8  pb-3  mb-3">
						<input type="email" class="form-control " placeholder="Email" name="email" id="mail"
						value="<%= (typeof errUser != 'undefined') ? errUser.email : null %>">
						<span class="text-danger" id="errorMail" ></span>
						<span class="text-danger"><%= (typeof errors != 'undefined' &&  errors.email)?errors.email.msg: ""%> </span>
						
					</div>

					<div class="mx-auto col-10 col-md-8 pb-3 mb-3">
						<input type="password" class="form-control " placeholder="Contrase침a" name="password" id="password">
						<span class="text-danger" id="errorPassword"></span>
						<span class="text-danger"><%= (typeof errors != 'undefined' &&  errors.password)?errors.password.msg: ""%> </span>

					</div>

					<div class="mx-auto col-10 col-md-8 pb-3 mb-3">
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="recordar">
							<label class="form-check-label" for="flexSwitchCheckDefault">Recordarme</label>

						</div>
					</div>

					<div class="row mx-auto pb-5">

						<div class="row mx-auto pb-5">

							<button class="mx-auto col-4 col-md-5 btn btn-primary mb-5 " type="submit">Iniciar sesi칩n</button>
							<a href="/users/register" class="mx-auto col-4 col-md-5 btn btn-primary mb-5 ">Registrarse</a>

							<% if (typeof error != 'undefined') { %>
								<div class="alert alert-danger ">
									<span><%= error %> </span>
								</div>
							<% } %>

							<a href="/users/recover" class="mx-auto text-center pb-"> Olvide mi contrase침a</a>							
						</div>
					</div>
				</div>
			</div>
		</form>
	</section>

	<%- include('partials/scripts')  %>
	<%- include('partials/footer')  %>	
	<script src="/javascripts/login.js"></script>
</body>

</html>