<!DOCTYPE html>
<html lang="es">
<%- include('partials/head')  %>

    <body class="bg-white">
        <% if (typeof userLogin != 'undefined') { %>

            <%- include('partials/headerUser')  %>

                <% } else { %>
                    <%- include('partials/header')  %>
                        <% } %>
                            <main class="container bg-light">

                                <section class="las-mas-vistas">

                                    <div class=" text-center ">
                                        <hr class="mx-auto m-12" size="5" noshade="noshade" width="100%" />

                                        <h2>
                                            <%- title %>
                                        </h2>
                                        <hr class="mx-auto m-12" size="5" noshade="noshade" width="100%" />
                                    </div>
                                    <div class="row">
                                        <h4>
                                            <%- movies.length === 0 ? 'No se encontraron peliculas' : null %>
                                        </h4>
                                        <% movies.forEach(movie => { %>
                                            <div class="col-12 col-md-4 col-lg-3">
                                                <div class="card  mb-3 mx-auto border border-2" style="width: 98%;">
                                                    <div class="card-header bg-transparent  text-center">
                                                        <h4>
                                                            <%= movie.title %>
                                                        </h4>
                                                    </div>
                                                    <div class="card-body text-secondary ">
                                                        <a href="/movies/show/<%= movie.id %> ">
                                                    <img src="/images/movies/<%= movie.image %>" alt="" width="100%">
                                                </a>
                                                    </div>
                                                    <div class="card-footer bg-transparent row">
                                                        <p class="col-6 mt-2">
                                                            $
                                                            <%= movie.price %>
                                                        </p>
                                                        <a href="/movies/show/<%= movie.id %>" class="btn col-6">Detalles</a>
                                                    </div>

                                                </div>

                                            </div>

                                            <% }) %>
                                    </div>

                                </section>



                            </main>

                            <%- include('partials/scripts')  %>

                                <%- include('partials/footer')  %>
    </body>

</html>