<!DOCTYPE html>
<html lang="es">
<%- include('partials/head')  %>

<body class="bg-white ">
	<% if (typeof userLogin != 'undefined') { %>
		<%- include('partials/headerUser')  %>
	<% } else { %>
		<%- include('partials/header')  %>
	<% } %>

	<main class="container bg-light pb-5">
		<div class="row mx-auto pb-5">
			<div class="card mx-auto" style="width: 50%">

				<% if (typeof success != 'undefined') { %>
					<div class="alert alert-success">
						<span><%= success %> </span>
					</div>
				<% } %>

				<div class="card-header">
					<img src="/images/users/<%=user.avatar%>" class="card-img-top" alt="user">
					<h3 class="card-title">
						<%= user.first_name %>
						<%= user.last_name %>
					</h3>
				</div>
				<ul class="list-group list-group-flush ">
					<li class="list-group-item">
						<h3 class="card-text">
							<%- user.firstName + " " + user.lastName %>
						</h3>
					</li>
					<li class="list-group-item">
						<h6>
							<%= user.email %>
						</h6>
					</li>					
				</ul>
				<div class="mx-auto">
					<a href="/" class="btn btn-danger ">Volver</a>
					<a href="/users/<%= user.id %>/edit" class="btn btn-success">Editar perfil</a>
					<a href="/users/<%= user.id %>/pass" class="btn btn-secondary">Cambiar contraseña</a>
				</div>
			</div>
		</div>
	</main>

	<%- include('partials/footer')  %>
	<%- include('partials/scripts')  %>
</body>

</html>