<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

<body class="bg-white">
	<% if (typeof userLogin != 'undefined') { %>
		<%- include('partials/headerUser')  %>
	<% } else { %>
		<%- include('partials/header')  %>
	<% } %>

	<section class="container bg-light">

		<article class="box-center">
			<div class=" text-center ">
				<hr class="mx-auto m-12" size="5" noshade="noshade" width="100%" />
				<h4>Registrarse</h4>
				<hr class="mx-auto m-12 " size="5 " noshade="noshade " width="90%" />
			</div>

			<% if (typeof error != 'undefined') { %>
				<div class="alert alert-danger ">
					<span><%= error %> </span>
				</div>
			<% } %>

			<form class="container" id="formRegister" action="/users/register" method="POST" enctype="multipart/form-data">
				<div class=" bg-white border border-1 ">
					<div class="logo-person mb-3">
						<img src="/images/logo-person.png " class=" img-logo-person img-fluid m-3 rounded mx-auto d-block" alt="logo" width="150px">
					</div>


					<!-- first name -->
					<div class="row mx-auto mb-3 form_group" id="group_first_name">
						<div class="mx-auto col-sm-10 col-md-9 col-lg-8 col-xl-6 form_group_input">
							<input type="text" class="form-control form_input" placeholder="nombre" name="first_name" id="first_name">
							<span class="text-danger" id="errorFirst_name" ></span>
							<span class="text-danger"><%= (typeof errors != 'undefined' &&  errors.first_name)?errors.first_name.msg: ""%> </span>
							<p class="form_error_input">El nombre debe tener entre 2 y 20 caracteres. Solo puede contener letras.</p>
						</div>
					</div>

					<!-- last name -->
					<div class="row mx-auto mb-3 form_group" id="group_last_name">
						<div class="mx-auto col-sm-10 col-md-9 col-lg-8 col-xl-6 form_group_input">
							<input type="text" class="form-control form_input" placeholder="apellido" name="last_name" id="last_name">
							<span class="text-danger" id="errorLast_name" ></span>
							<span class="text-danger"><%= (typeof errors != 'undefined' &&  errors.last_name)?errors.last_name.msg: ""%> </span>
					
					
						</div>
					</div>

					<!-- email -->
					<div class="row mx-auto mb-3 form_group" id="group_email">
						<div class="mx-auto col-sm-10 col-md-9 col-lg-8 col-xl-6 form_group_input">
							<input type="email" class="form-control form_input" placeholder="email" name="email" id="email">
							<span class="text-danger" id="errorEmail" ></span>
							<span class="text-danger"><%= (typeof errors != 'undefined' &&  errors.email)?errors.email.msg: ""%> </span>
			
						</div>
					</div>

					<!-- password -->
					<div class="row mx-auto mb-3 form_group" id="group_password">
						<div class="mx-auto col-sm-10 col-md-9 col-lg-8 col-xl-6 form_group_input" >
							<input type="password" class="form-control form_input" placeholder="contraseña" name="password" id="password">
							<span class="text-danger" id="errorPassword" ></span>
							<span class="text-danger"><%= (typeof errors != 'undefined' &&  errors.password)?errors.password.msg: ""%> </span>
						
						</div>
					</div>

					<!-- password 2 -->
					<div class="row mx-auto mb-3 form_group" id="group_password2">
						<div class="mx-auto col-sm-10 col-md-9 col-lg-8 col-xl-6 form_group_input" >
							<input type="password" class="form-control form_input" placeholder="repetir contraseña" name="password2" id="password2">
							<span class="text-danger" id="errorPassword2" ></span>
						
						</div>
					</div>

					<div class="row mx-auto mb-3">
						<div class="mx-auto col-sm-10 col-md-9 col-lg-8 col-xl-6 form_group" id="grupo_terms">
							<label class="form_label">
								<input class="form_checkbox" type="checkbox" name="terms" id="terms">
								Acepto los Terminos y Condiciones
							</label>
						</div>
					</div>

					<div class="row mx-auto mb-5">
						<div class="mx-auto col-sm-10 col-md-9 col-lg-8 col-xl-6 ">
							<div class="custom-input-file col-md-6 col-sm-6 col-xs-6">
								<input type="file" class="input-file" value="" name="avatar" id="img"> Subir foto
								<span class="text-danger" id="errorImg" ></span>
							</div>
						</div>
					</div>

					<div class="row mx-auto pb-5 pt-4">
						<div class="form_message" id="form_message">
							<p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor complete el formulario correctamente. </p>
						</div>
					</div>

				</div>
				<div class="row mx-auto pb-5 pt-4">
					<button class="mx-auto col-4 col-md-5 btn btn-primary mb-5 " type="submit ">Guardar</button>
					<a href="/users/login" class="mx-auto col-4 col-md-3 btn btn-danger mb-5 ">Volver</a>

					<% if (typeof error != 'undefined') { %>
						<div class="alert alert-danger ">
							<span><%= error %> </span>
						</div>
						<% } %>

				</div>
			</form>

		</article>
	</section>

	<%- include('partials/footer') %>
	<%- include('partials/scripts')  %>
	<!-- <script src="/javascripts/userForm.js"></script> -->
	<script src="/javascripts/register.js"></script>
</body>
</html>